<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div id="wrap">
      <div class="background"></div>
      <div id="header" role="header">
          <header>
              <%- include('nav.ejs') %>
          </header>
      </div>
      <div id="container">
            <div class="main-content-wrap addQuestion">
                <div class="contentsType mb-4">질문 수정하기</div>
                <form action="/update" method="POST" class="uploadForm">
                    <input type="hidden" name="id" value="<%= 바인딩._id %>">
                    <div class="form-group inputQuestionWrap">
                        <label for="title">질문</label>
                        <input type="text" class="form-control" id="question" name="question" class="mt-4"  value="<%= 바인딩.question %>">
                    </div>
                    <div class="form-group inputAnswerWrap">
                        <label for="answer1">
                            answer1
                        </label>
                        <input type="text" class="form-control" id="answer1" name="answer1" value="<%= 바인딩.answer1 %>">

                        <label for="answer2">
                            answer2
                        </label>
                        <input type="text" class="form-control" id="answer2" name="answer2" value="<%= 바인딩.answer2 %>">

                        <label for="answer3">
                            answer3
                        </label>
                        <input type="text" class="form-control" id="answer3" name="answer3" value="<%= 바인딩.answer3 %>">

                        <label for="answer4">
                            answer4
                        </label>
                        <input type="text" class="form-control" id="answer4" name="answer4" value="<%= 바인딩.answer4 %>">
                    </div>
                    <a href="/detail/<%= 바인딩._id %>" class="btn btn-outline-secondary">수정하기</a>

                </form>
            </div>
      </div>
      <div id="footer"></div>
  </div>
</body>
<body class="grey-bg">
   
  <div class="white-bg">
    </div>
  </body>
</html>
