<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div id="wrap">
        <div id="header" role="header">
            <header>
              <%- include('nav.ejs') %>
            </header>
        </div>
        <div id="container">
            <div class="main-content-wrap">
                <div class="example_question">
                    <div class="example_QTitle">질문 예시</div>
                    <div class="questionContWrap">
                        <div class="questionTitle">
                            내가 상대방 SNS 스토리, 게시글에 좋아요를 누르는 것은 플러팅이다.
                        </div>
                        <ul class="answerList">
                            <li>
                                <span class="listNum">①</span> 맞다. 좋아요는 호감을 표현하기 위한 수단 중 하나이다.
                            </li>
                            <li>
                                <span class="listNum">②</span> 모든 피드에 좋아요를 누르는 것만이 찐 플러팅이다.
                            </li>
                            <li>
                                <span class="listNum">③</span> No, 암만 호감가는 상대여도 공감가는 피드에만 반응한다.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="title-style-01 mb-4">연애 / 썸 유형</div>                
                <% DBList.forEach(function(doc, index) { %>
                    <div class="contentsQBox">
                        <div class="questionNum d-flex">
                            Question <%= index + 1 %>.
                            <a href="/theme/love/edit/<%= doc._id %>" data-id="<%=doc._id %>" class="btn btn-outline-secondary btn-edit ml-auto">
                                <span class="fs-xs fw-b">수정하기</span>
                            </a>
                            <a href="/theme/love/detail/<%= doc._id %>" data-id="<%=doc._id %>" class="btn btn-outline-secondary btn-edit ml-auto">
                                <span class="fs-xs fw-b">상세보기</span>
                            </a>
                            <span class="fs-xs fw-b btn btn-outline-secondary btn-edit delete" data-id="<%=doc._id %>">🗑️</span>
                        </div>
                        <div class="questionTitle">
                                <%= doc.question %>
                        </div>
                        <ul class="answerList">
                            <% for (var key in doc) { %>
                                <% if (key.startsWith('answer') && doc[key]) { %>
                                    <li>
                                        <span class="listNum"><%= key.replace('answer', '') %></span>
                                        <%= doc[key] %>
                                    </li>
                                <% } %>
                            <% } %>
                        </ul>
                        <a href="/list/next/<%= doc._id %>" data-id="<%=doc._id %>" class="btn submitbtn btn-outline-secondary m-auto">
                            <span class="fs-xs fw-b">
                                답변선택 완료 후 결과보기
                            </span>
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
        <div id="footer"></div>
  </div>
</body>
</html>

<script>
    var deleteLinks = document.getElementsByClassName('delete');
    for (var i = 0; i < deleteLinks.length; i++) {
        deleteLinks[i].addEventListener('click', function(event) {
            fetch('/delete?DBID='+ event.target.dataset.id, {
                method : 'DELETE'
            })
            .then((r)=>r.text())
            .then((r)=>{
                event.target.parentElement.parentElement.style.display = "none"
            })
        })
    }
</script>