<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div id="wrap">
        <div class="background"></div>
        <div id="header" role="header">
            <header>
              <%- include('nav.ejs') %>
            </header>
        </div>
        <div id="container">
            <div class="main-content-wrap">
                <div class="contentsType mb-4">연애 / 썸 유형</div>
                <% DBList.forEach(function(doc, index) { %>
                    <div class="contentsQBox">
                        <div class="questionNum d-flex">
                            Question <%= index + 1 %>.
                            <a href="/edit/<%= doc._id %>" class="btn btn-outline-secondary btn-edit">
                                <span class="fs-xs fw-b">수정하기</span>
                            </a>
                            <a href="/edit/<%= doc._id %>" class="btn btn-outline-secondary btn-edit">
                                <span class="fs-xs fw-b delete">🗑️</span>
                            </a>
                        </div>
                        <div class="questionTitle">
                            <!-- <% if (doc.question) { %> -->
                                <%= doc.question %>
                            <!-- <% } else if (doc.title) { %>
                                <%= doc.title %>
                            <% } %> -->
                        </div>
                        <ul class="answerList">
                            <% for (var key in doc) { %>
                                <% if (key.startsWith('answer') && doc[key]) { %>
                                    <li>
                                        <span class="listNum"><%= key.replace('answer', '') %></span>
                                        <%= doc[key] %>
                                    </li>
                                <% } %>
                                <!-- <% if (key.startsWith('content') && doc[key]) { %>
                                    <li>
                                        <span class="listNum"><%= key.replace('content', '') %></span>
                                        <%= doc[key] %>
                                    </li>
                                <% } %> -->
                            <% } %>
                        </ul>                
                        <button type="submit" class="btn submitbtn btn-outline-secondary m-auto">답변선택 완료 후 결과보기</button>
                    </div>
                <% }); %>
            </div>
        </div>
        <div id="footer"></div>
  </div>
</body>
</html>

<script>
    document.querySelectorAll('.delete')[0].addEventListener('click', function(){
      fetch()
    })
</script>