<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <%- include('modal/answerSelectError') %>
    <div id="wrap">
        <div id="header" role="header">
            <header>
                <%- include('nav.ejs') %>
            </header>
        </div>
        <div id="container">
            <div class="main-content-wrap">                
                <% DBList.forEach(function(doc, index) { %>
                <form id="answerForm" action="/submitAnswer" method="POST">
                    <article class="article-box-design01">
                        <div class="contentsType mb-4">연애 / 썸 유형</div>
                        <div class="question-contbox">
                            <div class="questionNum d-flex pl-12">
                                Question <%= num %>.
                            </div>
                            <div class="questionTitle pl-12">
                                <!-- <% if (doc.question) { %> -->
                                <%= doc.question %>
                                    <!-- <% } else if (doc.title) { %>
                                <%= doc.title %>
                            <% } %> -->
                            </div>
                            <ul class="answerList pl-12">
                                <% for (var key in doc) { %>
                                    <% if (key.startsWith('answer') && doc[key]) { %>
                                        <li>
                                            <input type="radio" name="selectedAnswer"
                                                id="selectedAnswer<%= key.replace('answer', '') %>"
                                                value="<%= key.replace('answer', '') %>">
                                            <label for="selectedAnswer<%= key.replace('answer', '') %>">
                                                <span  class="dif_cc">
                                                    <%= key.replace('answer', '' ) %>.
                                                </span>
                                                <%= doc[key] %>
                                            </label>
                                        </li>
                                        <% } %>
                                            <!-- <% if (key.startsWith('content') && doc[key]) { %>
                                    <li>
                                        <span class="listNum"><%= key.replace('content', '') %></span>
                                        <%= doc[key] %>
                                    </li>
                                <% } %> -->
                                            <% } %>
                            </ul>
                            
                            <!--
                                <a href="/list/next/<%= doc._id %>" data-id="<%=doc._id %>" class="btn submitbtn btn-outline-secondary m-auto">
                                    <span class="fs-xs fw-b">
                                        답변선택 완료 후 결과보기
                                    </span>
                                </a>
                            -->
                        </div>
                        <input type="hidden" name="selectedAnswerText" id="selectedAnswerText">
                            <input type="hidden" name="questionId" value="<%= doc._id %>">
                            <input type="hidden" name="question" value="<%= doc.question %>">
                            <input type="hidden" name="questionIdx" value="<%= num %>">
                            <button type="submit" class="btn show-resultBtn resultBtn btn-primary m-auto">
                                <span class="fs-xs fw-b">
                                    답변선택 완료 후 결과보기
                                </span>
                            </button>
                    </article>
                </form>
                <% }); %>
            </div>
            <div class="btn">
                <button class="btn-primary">
                    <a href="/theme/love/singleList/<%= num > 1 ? num - 1 : 1 %>">이전</a>
                </button>
                <button class="btn-primary">
                    <a href="/theme/love/singleList/<%= num + 1 %>">다음</a>
                </button>
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</body>

</html>

<script>
    var deleteLinks = document.getElementsByClassName('delete');
    for (var i = 0; i < deleteLinks.length; i++) {
        deleteLinks[i].addEventListener('click', function (event) {
            fetch('/delete?DBID=' + event.target.dataset.id, {
                method: 'DELETE'
            })
                .then((r) => r.text())
                .then((r) => {
                    event.target.parentElement.parentElement.style.display = "none"
                })
        })
    }
   
    const answer_list = Array.from(document.querySelectorAll('.answerList li'));
    answer_list.forEach(item => {
        item.addEventListener('click', function () {
            answer_list.forEach(li => li.classList.remove('active'));
            this.classList.add('active');
        })
    })

    document.querySelector('.resultBtn').addEventListener('click', (event) => {
        event.preventDefault();
        const isAnyActive = answer_list.some(item => item.classList.contains('active'));
        const selectedRadio = document.querySelector('input[name="selectedAnswer"]:checked');
        
        const errorMessage = '번호를 선택해주세요.'
        if (!isAnyActive) {
            showModal(errorMessage)
        } else if (selectedRadio){
            var label = document.querySelector('label[for="' + selectedRadio.id + '"]');
             var answerText = label.innerText.trim();
             document.getElementById('selectedAnswerText').value = answerText;

             console.log(answerText)

            /*fetch('',{
                method: post,
                headers : '',
                body: '',
            })*/
        }         
    });

    function showModal(message) {
        const modal = document.getElementById('answerSelectError');
        const modalMessage = document.getElementById('modalMessage');
        const closeButton = document.querySelector('.close-button');
        modalMessage.textContent = message;
        modal.style.display = 'block';
    }
    // document.querySelectorAll('.delete')[0].addEventListener('click', function(){
    //   fetch('/test') // /test?age=20 과 같이 테스트 이후에 서버로 전송할 데이터의 형태를 내맘대로 지정할 수 있다.
    // })
</script>