<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div id="wrap">
        <div id="header" role="header">
            <header>
                <%- include('nav.ejs') %>
            </header>
        </div>
        <div id="container">
            <div class="main-content-wrap">
                <form id="answerForm" action="/submitAnswer" method="POST">
                <article class="article-box-design01">
                    <% DBList.forEach(function(doc, index) { %>                        
                    <div class="contentsType mb-4">연애 / 썸 유형</div>
                    <div class="question-contbox">
                        <div class="questionNum d-flex pl-12">
                            Question <%= num %>.
                        </div>
                        <div class="questionTitle pl-12">
                            <%= doc.question %>
                        </div>
                        <ul class="answerList pl-12">
                            <% for (var key in doc) { %>
                                <% if (key.startsWith('answer') && doc[key]) { %>
                                    <li>
                                        <input type="radio" name="selectedAnswer"
                                            id="selectedAnswer<%= key.replace('answer', '') %>"
                                            value="<%= key.replace('answer', '') %>">
                                        <label for="selectedAnswer<%= key.replace('answer', '') %>">
                                            <span class="listNum">
                                                <%= key.replace('answer', '' ) %>.
                                            </span>
                                            <%= doc[key] %>
                                        </label>
                                    </li>
                                    <% } %>
                                        <% } %>
                        </ul>
                    </div>

                    <input type="hidden" name="questionId" value="<%= doc._id %>">
                    <button type="submit" class="btn show-resultBtn resultBtn btn-primary m-auto">
                        <span class="fs-xs fw-b">
                            결과보기
                        </span>
                    </button>
                </article>
                </form>
                <% }); %>
            <div class="responseRateGrid">
                <div class="contentsQBox">
                    <div class="responseRate_ISTJ">
                        <span>유형 ISTJ</span>
                        <% answerList.forEach(function(answer) { %>
                            <span>답변 : <%= answer.answer %></span><br>
                            <% }) %>
                    </div>
                    <div class="responseRate_ISTP">
                        <span>2</span>
                    </div>
                    <div class="responseRate_ISFJ">
                        <span>3</span>
                    </div>
                    <div class="responseRate_ISFP">
                        <span>4</span>
                    </div>
                </div>
            </div>
            <div class="btn">
                <button class="btn-primary">
                    <a href="/theme/love/singleList/<%= num > 1 ? num - 1 : 1 %>">이전</a>
                </button>
                <button class="btn-primary">
                    <a href="/theme/love/singleList/<%= num + 1 %>">다음</a>
                </button>
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</body>

</html>

<script>
    var deleteLinks = document.getElementsByClassName('delete');
    for (var i = 0; i < deleteLinks.length; i++) {
        deleteLinks[i].addEventListener('click', function (event) {
            fetch('/delete?DBID=' + event.target.dataset.id, {
                method: 'DELETE'
            })
                .then((r) => r.text())
                .then((r) => {
                    event.target.parentElement.parentElement.style.display = "none"
                })
        })
    }
    // document.querySelectorAll('.delete')[0].addEventListener('click', function(){
    //   fetch('/test') // /test?age=20 과 같이 테스트 이후에 서버로 전송할 데이터의 형태를 내맘대로 지정할 수 있다.
    // })
</script>