<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <%- include('modal/answerSelectModal') %>
    <div id="wrap">
        <div id="header" role="header">
            <header>
                <%- include('nav.ejs') %>
            </header>
        </div>
        <div id="container">
            <div class="main-content-wrap">                
                <% DBList.forEach(function(doc, index) { %>
                <form id="answerForm" action="/submitAnswer" method="POST">
                    <article class="article-box-design01">
                        <div class="title-style-01 mb-4">연애 / 썸 유형</div>
                        <div class="question-contbox">
                            <div class="questionNum d-flex pl-12">
                                Question <%= num %>.
                            </div>
                            <div class="questionTitle pl-12">
                                <%= doc.question %>
                            </div>
                            <ul class="answerList pl-12">
                                <% for (var key in doc) { %>
                                    <% if (key.startsWith('answer') && doc[key]) { %>
                                        <li class="<%= (selectedNum == key.replace('answer', '')) ? 'active' : '' %>">
                                            <input type="radio" name="selectedAnswer"
                                                id="selectedAnswer<%= key.replace('answer', '') %>"
                                                value="<%= key.replace('answer', '') %>">
                                            <label for="selectedAnswer<%= key.replace('answer', '') %>">
                                                <span  class="dif_cc">
                                                    <%= key.replace('answer', '' ) %>.
                                                </span>
                                                <%= doc[key] %>
                                            </label>
                                        </li>
                                        <% } %>
                                    <% } %>
                            </ul>
                        </div>
                        <input type="hidden" name="answers" id="answers" value='<%= JSON.stringify(doc) %>'>
                        <input type="hidden" name="selectedAnswerText" id="selectedAnswerText">
                        <input type="hidden" name="questionId" id="questionId" value="<%= doc._id %>">
                        <input type="hidden" name="question" id="question" value="<%= doc.question %>">
                        <input type="hidden" name="questionIdx" id="questionIdx" value="<%= num %>">
                        <button type="submit" class="btn show-resultBtn resultBtn btn-primary m-auto">
                            <span class="fs-xs fw-b">
                                결과보기
                            </span>
                        </button>
                    </article>
                </form>
                <% }); %>
                <div class="article-footer">
                    <button>
                        <a href="/theme/love/singleList/<%= num > 1 ? num - 1 : 1 %>">이전</a>
                    </button>
                    <button>
                        <a href="/theme/love/singleList/<%= num + 1 %>">다음</a>
                    </button>
                </div>
            </div>
            
        </div>
        <div id="footer">

        </div>
    </div>
</body>

</html>

<script>
    var deleteLinks = document.getElementsByClassName('delete');
    var questionId = document.getElementById('questionId')
    var question = document.getElementById('question')
    var questionIdx = document.getElementById('questionIdx')
    for (var i = 0; i < deleteLinks.length; i++) {
        deleteLinks[i].addEventListener('click', function (event) {
            fetch('/delete?DBID=' + event.target.dataset.id, {
                method: 'DELETE'
            })
                .then((r) => r.text())
                .then((r) => {
                    event.target.parentElement.parentElement.style.display = "none"
                })
        })
    }
   
    const answer_list = Array.from(document.querySelectorAll('.answerList li'));
    const answersLabelText = Array.from(document.querySelectorAll('.answerList li label')).map(label => label.innerText.trim());
    
    var answersList;
    answer_list.forEach(item => {        
        item.addEventListener('click', function () {
            answer_list.forEach(li => li.classList.remove('active'));
            this.classList.add('active');
        })        
    })

    document.querySelector('.resultBtn').addEventListener('click', (event) => {
        event.preventDefault();
        const isAnyActive = answer_list.some(item => item.classList.contains('active'));
        const selectedRadio = document.querySelector('.active input');
        const errorMessage = '번호를 선택해주세요.'
        
        if (!isAnyActive) {
            showModal(errorMessage)
        } else if (selectedRadio){
             var label = document.querySelector('.active label');
             var answerText = label.innerText.trim();
             document.getElementById('selectedAnswerText').value = answerText;
             var answers = document.getElementById('answers').value;
            fetch('/submitAnswer',{
                method: 'post',
                headers : {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    question: question.value,
                    questionId: questionId.value,
                    questionIdx : questionIdx.value,
                    selectedAnswer : selectedRadio.value,
                    selectedAnswerText : answerText,
                    allOfAnswers : answersLabelText,
                }),
            })

            .then(response => response.json())
            .then(data => {
            if (data.redirect) {
                window.location.href = data.redirect;
            }
                })
                .catch(error => {
                    showModal('오류가 발생했습니다. 다시 시도해주세요.');
                    console.error('Error:', error);
                });
        }         
    });

    function showModal(message) {
        const modal = document.getElementById('answerSelectModal');
        const modalMessage = document.getElementById('modalMessage');
        const closeButton = document.querySelector('.close-button');
        modalMessage.textContent = message;
        modal.style.display = 'block';
    }
</script>