<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div id="wrap">
        <div class="background"></div>
        <div id="header" role="header">
            <header>
                <%- include('nav.ejs') %>
            </header>
        </div>
        <div id="container">
            <div class="main-content-wrap">
                <div class="example_question">
                    <div class="example_QTitle">질문 예시</div>
                    <div class="questionContWrap">
                        <div class="questionTitle">
                            내가 상대방 SNS 스토리, 게시글에 좋아요를 누르는 것은 플러팅이다.
                        </div>
                        <ul class="answerList">
                            <li>
                                <span class="listNum">①</span> 맞다. 좋아요는 호감을 표현하기 위한 수단 중 하나이다.
                            </li>
                            <li>
                                <span class="listNum">②</span> 모든 피드에 좋아요를 누르는 것만이 찐 플러팅이다.
                            </li>
                            <li>
                                <span class="listNum">③</span> No, 암만 호감가는 상대여도 공감가는 피드에만 반응한다.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="contentsType mb-4">연애 / 썸 유형</div>
                <% DBList.forEach(function(doc, index) { %>
                <form id="answerForm" action="/submitAnswer" method="POST">
                    <div class="contentsQBox">
                        <div class="questionNum d-flex">
                            Question <%= num %>.
                                <a href="/edit/<%= doc._id %>" data-id="<%=doc._id %>"
                                    class="btn btn-outline-secondary btn-edit ml-auto">
                                    <span class="fs-xs fw-b">수정하기</span>
                                </a>
                                <span class="fs-xs fw-b btn btn-outline-secondary btn-edit delete"
                                    data-id="<%=doc._id %>">🗑️</span>
                        </div>
                        <div class="questionTitle">
                            <!-- <% if (doc.question) { %> -->
                            <%= doc.question %>
                                <!-- <% } else if (doc.title) { %>
                            <%= doc.title %>
                        <% } %> -->
                        </div>
                        <ul class="answerList">
                            <% for (var key in doc) { %>
                                <% if (key.startsWith('answer') && doc[key]) { %>
                                    <li>
                                        <input type="radio" name="selectedAnswer"
                                            id="selectedAnswer<%= key.replace('answer', '') %>"
                                            value="<%= key.replace('answer', '') %>">
                                        <label for="selectedAnswer<%= key.replace('answer', '') %>">
                                            <span class="listNum">
                                                <%= key.replace('answer', '' ) %>.
                                            </span>
                                            <%= doc[key] %>
                                        </label>
                                    </li>
                                    <% } %>
                                        <!-- <% if (key.startsWith('content') && doc[key]) { %>
                                <li>
                                    <span class="listNum"><%= key.replace('content', '') %></span>
                                    <%= doc[key] %>
                                </li>
                            <% } %> -->
                                        <% } %>
                        </ul>

                        <input type="hidden" name="questionId" value="<%= doc._id %>">
                        <button type="submit" class="btn submitbtn btn-outline-secondary m-auto">
                            <span class="fs-xs fw-b">
                                답변선택 완료 후 결과보기
                            </span>
                        </button>
                        <!--
                    <a href="/list/next/<%= doc._id %>" data-id="<%=doc._id %>" class="btn submitbtn btn-outline-secondary m-auto">
                        <span class="fs-xs fw-b">
                            답변선택 완료 후 결과보기
                        </span>
                    </a>
                    -->
                    </div>
                </form>
                <% }); %>
            </div>
            <div class="btn">
                <button class="btn-primary">
                    <a href="/singleList/<%= num > 1 ? num - 1 : 1 %>">이전</a>
                </button>
                <button class="btn-primary">
                    <a href="/singleList/<%= num + 1 %>">다음</a>
                </button>
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</body>

</html>

<script>
    var deleteLinks = document.getElementsByClassName('delete');
    for (var i = 0; i < deleteLinks.length; i++) {
        deleteLinks[i].addEventListener('click', function (event) {
            fetch('/delete?DBID=' + event.target.dataset.id, {
                method: 'DELETE'
            })
                .then((r) => r.text())
                .then((r) => {
                    event.target.parentElement.parentElement.style.display = "none"
                })
        })
    }
    // document.querySelectorAll('.delete')[0].addEventListener('click', function(){
    //   fetch('/test') // /test?age=20 과 같이 테스트 이후에 서버로 전송할 데이터의 형태를 내맘대로 지정할 수 있다.
    // })
</script>